<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="targetsFeed" value="SiLA2/src/Sila2.Tools" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <add key="nuget-sila" value="https://nexus.unitelabs.ch/repository/nuget-sila-development/" protocolVersion="2" />
  </packageSources>
</configuration>